@use './variables' as var;

// section title
@mixin titleSet($hasSubtitle: true) {
  text-align: center;

  .title{
    font-size: var.$font-size-title-xl;
    font-family: 'Freesentation-6';
    color: var.$color-main-red;
    display: block;

    // subtitle 없을 때 하단 여백
    @if $hasSubtitle == false{
      padding-bottom: var.$spacing-lg;

      @media (max-width: 480px) {
        padding-bottom: calc(var.$spacing-lg * 0.6);
      }
    }

    @media (max-width: 480px) {
      font-size: calc(var.$font-size-title-xl * 0.8);
    }
  }

  // subtitle 있을 때
  @if $hasSubtitle{
    .subtitle{
      display: block;
      padding: var.$spacing-sm 0 var.$spacing-lg;
      font-size: var.$font-size-title-md;
      color: var.$color-text-sub;

      @media (max-width: 480px) {
        padding: calc(var.$spacing-sm * 0.6) 0 calc(var.$spacing-lg * 0.6);
        font-size: calc(var.$font-size-title-md * 0.8);
      }
    }
  }
}

// tooltip
@mixin tooltipStyle($section) {
  padding: 8px 12px !important;
  border-radius: var.$border-radius-sm !important;
  background-color: var.$color-main-green !important;
  color: var.$color-text-white !important;
  font-size: var.$font-size-xs !important;

  @if $section == 'tech'{
    margin: 0 !important;
  }
}
  
// project item style
@mixin hoverStyle($bgColor, $textColor: var.$color-text-white) {
  &:hover .itemContent {
    background-color: $bgColor;
    color: $textColor;

    .techItemBox {
      color: var.$color-text-sub;
    }
  }
  &:hover .itemThumb {
    img {
      transform: scale(1.1);
      filter: brightness(1.02);
    }
  }
}